@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Oswald', sans-serif;
}

@layer components {
  .text-gradient {
    background: linear-gradient(90deg, #0092ca, #66c2e0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .animatingGradient {
    background: linear-gradient(297deg, #0092ca, #66c2e0);
    background-size: 400% 400%;

    -webkit-animation: gradientAnimation 28s ease infinite;
    -o-animation: gradientAnimation 28s ease infinite;
    animation: gradientAnimation 28s ease infinite;
  }

  @-webkit-keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-o-keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222831;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0092ca;
  border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #66c2e0;
}
